h1 {{title}}
h2 My Heroes

ul(class='heroes')
  li(*ngFor='let hero of heroes' '(click)'='onSelect(hero)' '[class.selected]'='hero === selectedHero')
    span(class='badge') {{hero.id}}
    span {{hero.name}}

div(*ngIf="selectedHero")
  div
    label ID: {{selectedHero.id}}

  div
    label Name:
    input([(ngModel)]='selectedHero.name' placeholder='name')
